# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = luoshao23
    email = luoshao23@gmail.com
[filter "lfs"]
    required = true
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
[core]
    autocrlf = input
[color]
    ui = true
[alias]
    co = checkout
    ci = commit
    br = branch
    st = status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
        default = simple

